@mixin button($bg-color, $bg-hover) {
  background-color: $bg-color;
  border-radius: 4px;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  padding: 4px 4px;
  text-decoration: none;
  margin: 5px;

  &:hover {
    background-color:$bg-hover;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
