@mixin button($bg-color, $bg-hover) {
  background-color: $bg-color;
  border-radius: 4px;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  padding: 4px 4px;
  text-decoration: none;
  margin: 5px;

  &:hover {
    background-color:$bg-hover;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

@mixin guest-button($bg-color, $color-font) {
  background: $bg-color;
  color: $color-font;
  display: inline-block;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #3484fa;
  width: 47%;
  cursor: pointer;
  line-height: 14px;
  margin-bottom: 6px;
  &:hover {
    opacity: 0.95;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}