.about-conteiner {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	gap: 3rem;
	justify-content: center;
	align-items: center;

	.about-article {
		display: flex;
		flex-direction: column;
		width: 100%; /* Ajusta el valor para reducir el ancho */
		height: fit-content;
		letter-spacing: 0.1rem;
		text-align: start;
		gap: 1rem;
		align-items: center;
		background-color: rgba(217, 240, 241, 0.672);
		padding: 4rem;

		h1 {
			font-size: 2rem;
			letter-spacing: 1px;
			font-weight: bold;
		}

		h2 {
			font-size: 1.5rem;
			letter-spacing: 1px;
			font-weight: bold;
		}
 

		h3 {
			font-size: 1.5rem;
			letter-spacing: 1px;
			font-weight: bold;
		}

		&-parrafo {
			padding: 0.2rem;
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
	}
}