.about-tech-conteiner-principal {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  align-items: center;
  gap: 4rem;

  .about-tech-conteiner {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    .about-tech-section {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 2rem;
      width: calc(50% - 2rem);
      height: 40%;

      &-conteiner {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      &-img {
        width: 4rem;
        height: 4rem;
      }

      &-conteiner-parrafo {
        width: 100%;
        height: 100%;
      }

      &-title {
        font-size: 2rem;
        letter-spacing: 1px;
      }

      &-parrafo {
        letter-spacing: 1px;
        font-size: 1rem;
        line-height: 1.4;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .about-tech-conteiner-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .about-tech-conteiner {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .about-tech-section {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 100%;
        height: 20rem;
        overflow-y: auto;

        &-conteiner {
          display: flex;
          gap: 0.2rem;
          align-items: center;
        }

        &-img {
          width: 3rem;
          height: 3rem;
        }

        &-conteiner-parrafo {
          width: 100%;
          height: 100%;
        }

        &-title {
          font-size: 1.5rem;
          letter-spacing: 1px;
        }

        &-parrafo {
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
  }
}
