.graph {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	min-width: fit-content;
	min-height: fit-content;
	gap: 1rem;


	&-select {
		display: block;
		margin: 0 auto;
	}

	.conteiner-barChart {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 500px;
		height: 400px;
	}

	.conteiner-pieChart {
		display: flex;
		position: relative;
		justify-content: center;
		width: 500px;
		height: 400px;
	}

	.conteiner-LineChart {
		display: flex;
		position: relative;
		justify-content: center;
		width: 500px;
		height: 400px;
	}
}
