.conteiner-about-contributors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	height: fit-content;
	width: fit-content;
	position: relative; /* A침ade una posici칩n relativa para poder mover el contenido */
	perspective: 1000px; /* A침ade una perspectiva para el efecto 3D */
	transition: transform 0.3s ease;

}


.image-about-contributors {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	transform-style: preserve-3d; /* Conserva la transformaci칩n 3D */
	backface-visibility: hidden; /* Oculta las caras traseras */
	transition: transform 0.3s ease;
}

.title-about-contributors {
	font-family: map-get($fonts, "sans-serif");
	font-size: 1.3rem;
}

.redes-about-contributors {
	display: flex;
	gap: 1rem;
}
