.container_approved {
	padding: 5%;
	margin: 5%;
	padding: 20px;
	text-align: center;
}

.logo-approved {
	max-width: 150px;
	margin-bottom: 10px;
}

.title-approved {
	font-size: 24px;
	
	margin-bottom: 10px;
}

.text-approved {
	color: #333333;
	margin-bottom: 10px;
    margin: 15px;
}

.buttom-approved {
	background-color: #1d428a;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}

.buttom-approved a {
	color: #ffffff;
	
	text-decoration: none;
}

.buttom-approved:hover {
	background-color: #0c2558;
}