.cart-conteiner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	gap: 1rem;
	align-items: center;
  padding: 1rem;
}

.cart-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
	align-items: center;
}

.cart__clear{
		box-shadow: inset 0px 1px 0px 0px #caefab;
		background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
		background-color: #77d42a;
		border-radius: 6px;
		border: 1px solid #268a16;
		display: inline-block;
		cursor: pointer;
		color: #306108;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 24px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #aade7c;

}

.cart__clear:hover {
	background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color: #5cb811;
}


.detail-product-btn{
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color: #77d42a;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	cursor: pointer;
	color: #306108;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #aade7c;
}


.detail-product-btn:hover {
	background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color: #5cb811;
}
