.cart-detail-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 8rem;
	align-items: center;
	background-color: #f3f3f3;
}

.cart-detail-div-section {
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: 8rem;
	gap: 2rem;
	align-items: center;
	text-align: center;
}

.cart-detail-section {
	display: flex;
	flex-direction: column;
}

.cart-detail-btn {
	width: 2rem;
	height: 2rem;
}

.cart-detail-quantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.3rem;
}

.cart-detail-btn-quantity {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1rem;
}

.cart-image-container {
	height: 80%;
	width: 10rem;
	border: 1px solid black;
	border-radius: 1rem;
}
.cart-detail-image {
	height: 100%;
	width: 100%;
  border-radius: 1rem;
}
