.container-featured {
	padding: 5px; /* Ajusta el padding del contenedor principal */
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	margin: 20px 15%;
}


.container-featured{

  .container-featuredcategory{
    margin: 0px 5px;
    width: 20%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    overflow: hidden;
    

    img{
      height: 120px;
      transition: 0.5s;
    }

    img:hover{
      transform: scale(1.2);
    }

    h2{
      font-family: map-get($fonts, "sans-serif");
      padding: 10px 0px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      background-color: #77d42a;
      color: #fff;
      width: 100%;
      z-index: 10;
    }
  }


}
