.filters-container {
	display: flex;
	margin: 20px 2%;

	.filter-title {
		 font-family: map-get($fonts, "sans-serif");
		font-size: 23px;
		font-weight: bold;
		color: #77d42a;
	}

	.filter-group {
		 font-family: map-get($fonts, "sans-serif");
		width: 70%;

		label {
			font-size: 16px;
		}

		.filter-select {
			 font-family: map-get($fonts, "sans-serif");
			padding: 5px;
			font-size: 14px;
			border: 1px solid #ccc;
			border-radius: 0.5rem;
			background-color: #fff;
			color: #333;
			width: 15%;
			margin: 10px 15px 10px 5px;
		}

		.reset-filters {
			 font-family: map-get($fonts, "sans-serif");
			height: 30px;
			padding: 5px 10px;
			background-color: #77d42a;
			border: none;
			color: #fff;
			font-weight: 550;
			border-radius: 0.5rem;
			cursor: pointer;
		}

		.reset-filters:hover {
			background-color: #fff;
			color: #77d42a;
			border: 1px solid #77d42a;
		}
	}

	.order-group {
		width: 30%;

		select {
			 font-family: map-get($fonts, "sans-serif");
			padding: 5px;
			font-size: 14px;
			border: 1px solid #ccc;
			border-radius: 0.5rem;
			background-color: #fff;
			color: #333;
			width: 20%;
			margin: 10px 15px 10px 5px;
		}
	}
}
