.container-form {
	position: relative;
	max-width: 430px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

.form {
	padding: 30px;

  &-title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background-color: #4070f4;
      border-radius: 25px;
    }
  }
  .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

		input {
			position: absolute;
			height: 100%;
			width: 100%;
			padding: 0 35px;
			border: none;
			outline: none;
			font-size: 16px;
			border-bottom: 2px solid #ccc;
			border-top: 2px solid transparent;
			transition: all 0.2s ease;

			&:is(:focus, :valid) {
				border-bottom-color: #4070f4;
			}
			&:is(:focus, :valid) ~ .icon {
				color: #4070f4;
			}
			&:is(:focus, :valid) ~ .showHidePw {
				color: #4070f4;
			}
		}

		.icon {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			color: #999;
			font-size: 23px;
			transition: all 0.2s ease;
		}
		.showHidePw {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			color: #999;
			font-size: 23px;
			cursor: pointer;
		}
	}
	.text {
		color: #333;
		font-size: 14px;
	}
	.checkbox-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20px;

		.checkbox-content {
			display: flex;
			align-items: center;

			input {
				margin: 0 8px -2px 4px;
				accent-color: #4070f4;
			}
			label {
				margin: 0;
			}
		}
		a {
			color: #4070f4;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.button input {
		border: none;
		color: #fff;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 1px;
		border-radius: 6px;
		background-color: #4070f4;
		cursor: pointer;
		transition: all 0.3s ease;
		&:hover {
			background-color: #265df2;
		}
	}
	.login-signup {
		margin-top: 30px;
		text-align: center;

		a {
			color: #4070f4;
			margin-left: 5px;
		}
	}
	.error {
		margin-top: 5px;
		text-align: left;
		font-size: 13px;
	}
}
