.nav {
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	color: #111;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	position: relative;

	&__top-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__top-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}

	&__logo {
		display: flex;
		align-items: center;
		color: #111;
		width: 260px;
	}

	&__search-bar {
		flex-grow: 1;
		display: flex;
		justify-content: center;
	}

	&__bottom-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__bottom-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.1rem;
		gap: 7.6rem;
		padding-left: 5.9rem;
		flex-grow: 1;

		li {
			color: #323030;
		}
	}

	&__user {
		margin-right: 20px;
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	&__user {
		margin-right: 20px;
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&__button-login {
		background-color: #4070f4;
		border-radius: 6px;
		border: 1px solid #486ccf;
		display: inline-block;
		cursor: pointer;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		padding: 6px 18px;
		text-decoration: none;
		transition: all 0.2s ease;
		margin-right: -0.8rem;
		
		&:hover {
			background-color: #265df2;
		}
		&:active {
			position: relative;
			top: 1px;
		}
	}

	&__button-sell {
		background-color: #77d42a;
		border-radius: 6px;
		border: 1px solid #5cb811;
		display: inline-block;
		cursor: pointer;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		padding: 6px 18px;
		text-decoration: none;
		transition: all 0.2s ease;

		&:hover {
			background-color: #68b42a;
		}
		&:active {
			position: relative;
			top: 1px;
		}
	}
	&__icon {
		height: 35px;
		width: 35px;
		color: #111;
	}

	&__active{
		color: #77d42a;
		text-decoration: underline;
	}
}
