.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;

  &__logo {
    display: flex;
    align-items: center;
    color: #111;
  }

  &__items {
    color: #111;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 4rem;
    
    li:nth-child(2) {
      gap: 2px;
      display: flex;
      align-items: center;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__icon-person {
    font-size: 1.8rem;
    border: 2px solid #1D428A;
    border-radius: 50%;
    color: #79BE21;
  }
  &__button-login {
    box-shadow: 1px 1px 2px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:1rem;
    padding:7px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;

    &:hover {
      background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
      background-color:#f24437;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }

  &__button-sell {
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color:#77d42a;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#306108;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;

    &:hover {
      background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
      background-color:#5cb811;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }
}