.page-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 10px;

	.pag-buttons {
		padding: 5px 10px;
		margin: 5px 5px;
		background-color: #77d42a;
		color: #fff;
		font-weight: 800;
		border: none;
		cursor: pointer;
		border-radius: 0.5rem;
	}

	.pag-buttons:disabled {
		background-color: #898989;
		cursor: no-drop;
		font-weight: 600;
	}
}
