.register-container {
    padding: 20px;
    background-color: #f1f1f1;
    margin: 20px;
    max-width: 500px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .google-register {
      width: 100%;
      background-color: #db4a39;
      color: white;
      border: none;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .google-register:hover{
      background-color: #fff;
      color: #db4a39;
      border: 1px solid #db4a39;
    }
  
    hr {
      margin: 20px 0;
      border: none;
      border-top: 1px solid #ccc;
    }
  
    form {
      .form-group {
        margin-bottom: 10px;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: 550;
      }
  
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      }

      input:focus{
        box-shadow:2px 3px 3px #00c7329e ;
        border: none;
      }
  
      .error {
        color: red;
        margin-top: 5px;
        font-size: 14px;
      }
  
      .password-input {
        display: flex;
        align-items: center;
        position: relative;
  
        .password-toggle {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
  
      .submit-button {
        width: 100%;
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;
      }

      .submit-button:hover{
        background-color: #fff;
        color: #4caf50;
        border: 1px solid #4caf50;
      }
    }
  
    .login-link {
      text-align: center;
      margin-top: 20px;
      color: #007bff;
      text-decoration: none;
    }
  }
  