.review-container {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  
    .detail-product-section {
      margin-bottom: 20px;
  
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      .rating-stars {
        margin-bottom: 10px;
      }
    }
  
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .detail-product-review-container {
      .detail-product-review {
        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }
  
        .review-item {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          align-items: center;
          display: flex;
          
          p {
            margin: 0;
  
            &.user {
              font-weight: bold;
            }
  
            &.rating {
              color: #f8b700;
              font-size: 16px;
              margin-bottom: 5px;
            }
          }
          .review__detele{
            display: block; 
            text-align: right; 
            margin-bottom: 50px;
            
          }
        }
      }
    }
  }
  