.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search {
	width: 800px;
	position: relative;
	display: flex;

	&__term {
		width: 100%;
		border: 3px solid #1e428a;
		border-right: none;
		padding: 5px;
		height: 45px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: #9dbfaf;
		&:focus {
			color: #111;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 42px;
		height: 45px;
		border: 1px solid #70cd24;
		background: #70cd24;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	}
}