.shopping-title{
    text-align: center;
    color: green;
}

.shopping-container{
    background-color: rgb(232, 232, 232);
    display: flex;
    padding: 20px 30px;
    align-items: center;
    margin: 10px 50px;
    border-radius: 1rem;
    justify-content: center;

    img{
        height: 100px;
        margin-right: 10px;
        width: 100px;
        border-radius: 100%;
    }

    h3{
        font-size: 30px;
        margin: 0px 50px;
    }
}