.slider {
  position: relative;
  width: 100%;
  height: 480px;
  overflow: hidden;
  margin: 0px 0px 30px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.slider__prev-button,
.slider__next-button {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  color: #111;
  opacity: 0.75;
}

.slider__prev-button:hover,
.slider__next-button:hover {
  color: #00bf63;
}

.slider__prev-button {
  left: 5%;
}

.slider__next-button {
  right: 5%;
}

.slider__indicators {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.slider__indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 4px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.slider__indicator--active {
  opacity: 1;
}

@media (max-width: 906px) {
  .slider {
    height: auto;
  }
}