.container-verification {
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	font-family: Arial, sans-serif;
}

.logo-verification {
	max-width: 150px;
	margin-bottom: 10px;
}

.title-verification {
	font-size: 24px;
	margin-bottom: 10px;
}

.text-verification {
	color: #333333;
	margin-bottom: 10px;
}

.button-verification {
	background-color: #1d428a;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}

.button-verification a {
	color: #ffffff;
	text-decoration: none;
}

.button-verification:hover {
	background-color: #0c2558;
}
