// UI Settings.
@import "./base/variables";
@import "./base/settings";

// Components.

@import "./components/navbar";
@import "./components/searchBar";
@import "./components/formCreateProduct";
@import "./components/footer";
@import "./components/login";
@import "./components/terms";
@import "./components/banner";
@import "./components/home";
@import "./components/card";
@import "./components/featuredcategory";
@import "./components/detail";
@import "./components/pagination";
@import "./components/filters";
@import "./components//userprofile";
@import "./components/verificationpage";
@import "./components/reviewstar";
@import "./components/user";
@import "./components/slider.scss";
@import "./components/review";
@import "./components/productReviews";
@import "./components/productEdit";
@import "./components/dashboard";
@import "./components/editUser";
@import "./components/shophistory";
@import "./components/graphic";
@import "./components/about";
@import "./components/aboutCardProfile";
@import "./components/cartDetail";
@import "./components/cart";
@import "./components/userProducts";
