// UI Settings.
@import "./base/variables";
@import "./base/mixins";
@import "./base/settings";

// Components.
@import "./components/navbar";
@import "./components/searchBar";
@import "./components/product/formCreateProduct";
@import "./components/footer";
@import "./components/login";
@import "./components/terms";
@import "./components/banner";
@import "./components/home";
@import "./components/product/card";
@import "./components/featuredcategory";
@import "./components/product/detail";
@import "./components/pagination";
@import "./components/filters";
@import "./components/user/userprofile";
@import "./components/verificationpage";
@import "./components/review/reviewstar";
@import "./components/user/user";
@import "./components/slider.scss";
@import "./components/review/review";
@import "./components/review/productreviews";
@import "./components/product/productEdit";
@import "./components/admin/dashboard";
@import "./components/admin/editUser";
@import "./components/shophistory";
@import "./components/admin/graphic";
@import "./components/about/about";
@import "./components/about/aboutCardProfile";
@import "./components/cart/cartDetail";
@import "./components/cart/cart";
@import "./components/user/userProducts";
@import "./components/user/usersProfile";
@import "./components/approved";
@import "./components/modalNav";
